@import url(normalize.css);
@import url(main.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Roboto+Slab:700|Open+Sans:400,700&subset=latin,latin-ext,cyrillic);
@import url(light.css);
/* line 6, /opt/learnxinyminutes/source/css/screen.css.sass */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 22pt; }

/* line 10, /opt/learnxinyminutes/source/css/screen.css.sass */
select {
  border: none;
  border-radius: 3px; }

/* line 14, /opt/learnxinyminutes/source/css/screen.css.sass */
button {
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  padding: 2px 6px;
  text-decoration: none; }
  /* line 20, /opt/learnxinyminutes/source/css/screen.css.sass */
  button:hover {
    background: #f5f5f5; }

/* line 23, /opt/learnxinyminutes/source/css/screen.css.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif; }

/* line 26, /opt/learnxinyminutes/source/css/screen.css.sass */
h1, h2, h3, h4, h5, h6, p, li, hr {
  padding: 0;
  margin: 22pt 0 0 0;
  line-height: 22pt; }

/* line 31, /opt/learnxinyminutes/source/css/screen.css.sass */
li + li {
  margin-top: 0; }

/* line 34, /opt/learnxinyminutes/source/css/screen.css.sass */
.container {
  max-width: 60em;
  margin: 0px auto; }
  @media all and (max-width: 880px) {
    /* line 34, /opt/learnxinyminutes/source/css/screen.css.sass */
    .container {
      margin: 0px 20px; } }

/* line 41, /opt/learnxinyminutes/source/css/screen.css.sass */
#doc {
  font-size: 14pt; }
  /* line 43, /opt/learnxinyminutes/source/css/screen.css.sass */
  #doc .highlight {
    font-family: "Ubuntu Mono", monospace;
    line-height: 18pt;
    display: block; }
  /* line 47, /opt/learnxinyminutes/source/css/screen.css.sass */
  #doc img {
    max-width: 100%; }
  /* line 50, /opt/learnxinyminutes/source/css/screen.css.sass */
  #doc footer {
    margin-top: 60px;
    text-align: right;
    color: #777; }

/* line 56, /opt/learnxinyminutes/source/css/screen.css.sass */
.highlight {
  background: #eee;
  padding: 0 18pt;
  margin-top: 22pt;
  overflow-x: auto; }
  /* line 62, /opt/learnxinyminutes/source/css/screen.css.sass */
  .highlight.c {
    font-style: normal; }
  /* line 64, /opt/learnxinyminutes/source/css/screen.css.sass */
  .highlight .c1 {
    font-style: normal; }
  /* line 66, /opt/learnxinyminutes/source/css/screen.css.sass */
  .highlight .nb, .highlight .nf, .highlight .k {
    font-weight: 700; }
  /* line 68, /opt/learnxinyminutes/source/css/screen.css.sass */
  .highlight .n {
    color: #333; }

/* line 71, /opt/learnxinyminutes/source/css/screen.css.sass */
table {
  margin-top: 22pt;
  width: 100%; }

/* line 75, /opt/learnxinyminutes/source/css/screen.css.sass */
th, td {
  text-align: left;
  border-bottom: 1px solid #eee;
  line-height: 33pt; }
  /* line 80, /opt/learnxinyminutes/source/css/screen.css.sass */
  th h1:first-child, th h2:first-child, th h3:first-child, th h4:first-child, th h5:first-child, th h6:first-child, th p:first-child, td h1:first-child, td h2:first-child, td h3:first-child, td h4:first-child, td h5:first-child, td h6:first-child, td p:first-child {
    margin-top: 0; }

/* line 83, /opt/learnxinyminutes/source/css/screen.css.sass */
th.name {
  width: 50%; }

/* line 86, /opt/learnxinyminutes/source/css/screen.css.sass */
th.lang {
  width: 50%; }

/* line 89, /opt/learnxinyminutes/source/css/screen.css.sass */
td.name a {
  font-size: 1.2em;
  font-weight: bold; }

/* line 93, /opt/learnxinyminutes/source/css/screen.css.sass */
td.lang a {
  background: #eee;
  border-bottom: 2px solid #ddd;
  border-radius: 3px;
  padding: 0 5px;
  text-decoration: none; }
  /* line 99, /opt/learnxinyminutes/source/css/screen.css.sass */
  td.lang a:hover {
    background: #f5f5f5; }
  /* line 101, /opt/learnxinyminutes/source/css/screen.css.sass */
  td.lang a.selected {
    background: #ff9; }

@media all and (max-width: 620px) {
  /* line 108, /opt/learnxinyminutes/source/css/screen.css.sass */
  tr {
    display: block;
    border-bottom: 3px solid #eee;
    margin-bottom: 10px; }

  /* line 113, /opt/learnxinyminutes/source/css/screen.css.sass */
  th.name {
    display: block;
    width: 100%; }

  /* line 117, /opt/learnxinyminutes/source/css/screen.css.sass */
  th.lang {
    display: none; }

  /* line 120, /opt/learnxinyminutes/source/css/screen.css.sass */
  td.name {
    display: block;
    font-size: 16pt;
    line-height: 24pt; }

  /* line 125, /opt/learnxinyminutes/source/css/screen.css.sass */
  td.lang {
    display: block;
    text-align: right; } }
/* line 129, /opt/learnxinyminutes/source/css/screen.css.sass */
.share {
  float: right;
  text-align: center;
  line-height: 40px;
  background: #eee;
  padding: 0 20px;
  border-radius: 3px;
  border-bottom: 2px solid #ddd; }
  /* line 137, /opt/learnxinyminutes/source/css/screen.css.sass */
  .share .sharemsg {
    font-weight: bold;
    display: block; }

/* line 141, /opt/learnxinyminutes/source/css/screen.css.sass */
.lang-choice {
  float: right; }

/* line 144, /opt/learnxinyminutes/source/css/screen.css.sass */
.theme-choice {
  float: right;
  clear: right; }

/* line 7, /opt/learnxinyminutes/source/css/dark.css.scss */
body, a, button, select, .share {
  transition: all 300ms ease-in-out; }

/* line 11, /opt/learnxinyminutes/source/css/dark.css.scss */
th, td {
  transition: border-color 400ms; }

/* line 15, /opt/learnxinyminutes/source/css/dark.css.scss */
html.dark {
  /* Monokai theme */
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
  /* Generic Heading & Diff Header */
  /* Generic.Subheading & Diff Unified/Comment? */
  /* Generic.Deleted & Diff Deleted */
  /* Generic.Inserted & Diff Inserted */ }
  /* line 16, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark body {
    background: #11111a;
    color: #e0e0e0; }
  /* line 21, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark a {
    color: #49c; }
  /* line 24, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark a:visited {
    color: #94c5e2; }
  /* line 28, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark button, html.dark select, html.dark .share, html.dark td.lang a {
    background: #252539;
    border-bottom: 2px solid #434367; }
    /* line 31, /opt/learnxinyminutes/source/css/dark.css.scss */
    html.dark button:hover, html.dark button.selected, html.dark select:hover, html.dark select.selected, html.dark .share:hover, html.dark .share.selected, html.dark td.lang a:hover, html.dark td.lang a.selected {
      background: #49c;
      color: #e0e0e0; }
  /* line 37, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark button, html.dark select {
    color: #e0e0e0; }
  /* line 41, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark button:hover {
    background: #49c;
    color: #fff; }
  /* line 46, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark th, html.dark td {
    border-bottom: 1px solid #252539; }
  @media all and (max-width: 620px) {
    /* line 51, /opt/learnxinyminutes/source/css/dark.css.scss */
    html.dark tr {
      border-bottom: 3px solid #252539; } }
  /* line 56, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .highlight {
    background: #252539; }
  /* line 59, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .highlight .n {
    color: #818181; }
  /* line 64, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .hll {
    background-color: #272822; }
  /* line 65, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .c {
    color: #75715e; }
  /* line 66, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .err {
    color: #960050;
    background-color: #1e0010; }
  /* line 67, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .k {
    color: #66d9ef; }
  /* line 68, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .l {
    color: #ae81ff; }
  /* line 69, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .n {
    color: #f8f8f2; }
  /* line 70, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .o {
    color: #f92672; }
  /* line 71, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .p {
    color: #f8f8f2; }
  /* line 72, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .cm {
    color: #75715e; }
  /* line 73, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .cp {
    color: #75715e; }
  /* line 74, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .c1 {
    color: #75715e; }
  /* line 75, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .cs {
    color: #75715e; }
  /* line 76, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .ge {
    font-style: italic; }
  /* line 77, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .gs {
    font-weight: bold; }
  /* line 78, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .kc {
    color: #66d9ef; }
  /* line 79, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .kd {
    color: #66d9ef; }
  /* line 80, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .kn {
    color: #f92672; }
  /* line 81, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .kp {
    color: #66d9ef; }
  /* line 82, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .kr {
    color: #66d9ef; }
  /* line 83, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .kt {
    color: #66d9ef; }
  /* line 84, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .ld {
    color: #e6db74; }
  /* line 85, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .m {
    color: #ae81ff; }
  /* line 86, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .s {
    color: #e6db74; }
  /* line 87, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .na {
    color: #a6e22e; }
  /* line 88, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nb {
    color: #f8f8f2; }
  /* line 89, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nc {
    color: #a6e22e; }
  /* line 90, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .no {
    color: #66d9ef; }
  /* line 91, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nd {
    color: #a6e22e; }
  /* line 92, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .ni {
    color: #f8f8f2; }
  /* line 93, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .ne {
    color: #a6e22e; }
  /* line 94, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nf {
    color: #a6e22e; }
  /* line 95, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nl {
    color: #f8f8f2; }
  /* line 96, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nn {
    color: #f8f8f2; }
  /* line 97, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nx {
    color: #a6e22e; }
  /* line 98, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .py {
    color: #f8f8f2; }
  /* line 99, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nt {
    color: #f92672; }
  /* line 100, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .nv {
    color: #f8f8f2; }
  /* line 101, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .ow {
    color: #f92672; }
  /* line 102, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .w {
    color: #f8f8f2; }
  /* line 103, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .mf {
    color: #ae81ff; }
  /* line 104, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .mh {
    color: #ae81ff; }
  /* line 105, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .mi {
    color: #ae81ff; }
  /* line 106, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .mo {
    color: #ae81ff; }
  /* line 107, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .sb {
    color: #e6db74; }
  /* line 108, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .sc {
    color: #e6db74; }
  /* line 109, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .sd {
    color: #e6db74; }
  /* line 110, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .s2 {
    color: #e6db74; }
  /* line 111, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .se {
    color: #ae81ff; }
  /* line 112, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .sh {
    color: #e6db74; }
  /* line 113, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .si {
    color: #e6db74; }
  /* line 114, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .sx {
    color: #e6db74; }
  /* line 115, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .sr {
    color: #e6db74; }
  /* line 116, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .s1 {
    color: #e6db74; }
  /* line 117, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .ss {
    color: #e6db74; }
  /* line 118, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .bp {
    color: #f8f8f2; }
  /* line 119, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .vc {
    color: #f8f8f2; }
  /* line 120, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .vg {
    color: #f8f8f2; }
  /* line 121, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .vi {
    color: #f8f8f2; }
  /* line 122, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .il {
    color: #ae81ff; }
  /* line 125, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .gu {
    color: #75715e; }
  /* line 126, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .gd {
    color: #f92672; }
  /* line 127, /opt/learnxinyminutes/source/css/dark.css.scss */
  html.dark .gi {
    color: #a6e22e; }
